!/.gitattributes
!/.projen/tasks.json
!/.projen/deps.json
!/.projen/files.json
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets
.history/
*.vsix
*~
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
*.tgz
.env
.env.*
.turbo/
/.cocoindex_code/
.scratch/
static/
